---
layout: default
---
<div class="island-2 page-width">
  <div class="text-center pad-b-2">
    <h2 class="font-cursive">{{page.title}}</h2>
    <h3 class="font-three">{{page.client}}</h3>
    <p class="mega">{{page.date-created}}</p>
  </div>

  <div>
    <ul class="list-group-inline text-center gutter-1-2">
    <li class="gutter-1-2">
      {% pattern buttons/ghost-purple text="#NovaScotiaStrong" url="/novascotiastrong/" %}
    </li>
    <li class="gutter-1-2">
      {% pattern buttons/ghost-purple text="The Pie Hole" url="#" %}
    </li>
  </ul>
  </div>
</div>
